.single-room-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 120px;
    padding: 100px;

}

.heading{
    text-align: center;
    margin-top:50px;
    color: rgba(0, 0, 255, 0.473);
}