.room-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 120px;
    padding: 100px;
}


@media only screen and (max-width: 576px){
    .room-details{
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
    }
}


@media only screen and (min-width:577px) and (max-width: 992px){
    .room-details{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin-right: 115px;
       
    }
    
}